@namespace url("http://www.w3.org/1999/xhtml");

body {
	background: transparent;
	color: -moz-DialogText;
	font: message-box;
	margin: 0 1px;
	padding: 0;
	white-space: nowrap;
}
.caption {
	font-size: 1.1em;
	margin: 0 0 0.15em;
}
.spacer {
	overflow: hidden;
	height: 0.6em;
	max-height: 0.6em;
}

body[hideCaptions] .caption:not(.testResume),
body[hideTestResume] .testResume {
	display: none;
}

body[hideCaptions][hideTestResume] .spacer {
	height: 1em;
	max-height: 1em;
}