@namespace url("http://www.w3.org/1999/xhtml");
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

body {
	background: transparent;
	color: -moz-DialogText;
	font: message-box;
	margin: 0 1px;
	padding: 0;
	white-space: nowrap;
}
.caption {
	font-size: 1.1em;
	margin: 0 0 0.1em;
}
.spacer {
	overflow: hidden;
	height: 0.6em;
	max-height: 0.6em;
}

body[hideDiff] .entry.replaced,
body[hideDiff] .entry.removed {
	display: none;
}

xul|*.twisty {
	/*vertical-align: middle;*/
	margin: -2px 0 -1px;
}
xul|*.twisty > xul|*.button-box {
	margin: 3px 0;
	padding: 2px 3px;
	-moz-padding-end: 4px;
}

body[hideCaptions] .caption:not(.testResume),
body[hideTestResume] .testResume {
	display: none;
}
/* Don't hide blocks, if captions are hidden */
body[hideCaptions] .block:not(.testResume)[style],
body[hideCaptions]:not([hideTestResume]) .block:not(.testResume)[style] + .spacer[style],
body[hideCaptions] .spacer:not(.testResume)[style] {
	display: block !important;
}

body[hideCaptions][hideTestResume] .spacer {
	height: 1em;
	max-height: 1em;
}