@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#linkPropsPlus-contextMenuitem[lpp_iconized="true"],
#linkPropsPlus-toolsMenuitem[lpp_iconized="true"],
#linkPropsPlus-toolsMenuitemSub[lpp_iconized="true"],
#linkPropsPlus-appMenuitem[lpp_iconized="true"],
#linkPropsPlus-toolbarButton {
	list-style-image: url("icons16.png");
	-moz-image-region: rect(0 16px 16px 0);
}
/* 32x32 icon for Australis (menu panel and customization area) */
#linkPropsPlus-toolbarButton[cui-areatype="menu-panel"],
#customization-palette > toolbarpaletteitem[place="palette"] > #linkPropsPlus-toolbarButton {
	list-style-image: url("chrome://linkpropsplus-icon/skin/icon.png");
	-moz-image-region: auto;
}